[submodule "VS/horizonProgram/ext/SDL2"]
	path = VS/SDL2
	url = https://github.com/davidsiaw/SDL2
[submodule "VS/GLEW"]
	path = VS/GLEW
	url = https://github.com/nigels-com/glew
[submodule "VS/FreeType"]
	path = VS/FreeType
	url = https://github.com/freetype/freetype
